@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MyCustomFontBold";
  src: url("/assets/fonts/WOFF2/test-soehne-halbfett.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/assets/fonts/WOFF2/test-soehne-buch.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: "MyCustomFont", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "MyCustomFontBold", sans-serif;
  /* line-height: 55px; */
}

